*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
 
html,body,#root{
   height:100%;
   width: 100%;
}

#root{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.layoutPage{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.formBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    align-items: center;
    border:3px solid grey;
    border-radius: 10px;
    background-color: white;

    min-width:21%;
    min-height: 51%;
    padding: 20px 10px;
    
    gap:20px;
    box-shadow: 0 0 5px 5px rgba(82, 77, 77, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
}

input{
    font-size: 20px;
    padding:5px;
    min-width: 100%;
}

input:focus{
    outline:none;
}

button{
    background-color: black;
    color:white;
    font-size:18px;
    outline:none;
    border:2px solid black;
    border-radius: 10px;
    padding:10px 20px;
    cursor: pointer;
}

label{
    font-size:20px;
}
select,option{
    font-size: 15px;
    cursor: pointer;
}

span{
    font-size:16px;
    color:grey;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switchPageBox{
    color:blue;
    cursor: pointer;
}

.message{
    color:red;
}

#addOrder{
    justify-content: center;
    min-height: 45%;
    padding: 30px 20px;
}

#orderDetailsBox{
    justify-content: center;
    padding:20px 10px;
    min-height:45%;
    flex-wrap: wrap;
}

.oneOrder{
    border:2px solid rgb(193, 189, 189);
    padding:10px 20px;
    border-radius:10px;
    font-size:20px;
}

.profileDetails{
    border:2px solid rgb(193, 189, 189);
    padding:10px 20px;
    border-radius:10px;
    font-size:20px;
}

#profilePage{
    justify-content: space-between;
    padding:30px 10px;
    min-height: 40%;
}

.updateForm{
    align-self: flex-start;
    width:100%;
}

.updateNameForm input{
    min-width: 90%;
}

#changeRolePage{
    justify-content: center;
    padding:30px 10px;
    min-height: 40%;
    flex-wrap: wrap;
}

.oneUser{
    border:2px solid rgb(193, 189, 189);
    padding:10px 20px;
    border-radius:10px;
    font-size:20px;
    cursor: pointer;
}

#userChangeRole{
     padding:30px 10px;
}

.navbarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    background-color: black;
    border:2px solid black;
    border-radius: 20px;
    padding:10px 20px;
}

.link{
    color:white;
    font-size:16px;
    text-decoration: none;
    font-weight: bold;
}

.dashboardPage{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    max-height: 10%;
    background-color:  rgb(220, 220, 220);
    width: 100%;
}

.logoBox{
    font-size: 20px;
    font-weight: bolder;
    border:3px solid black;
    padding:10px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.contentArea{
    height: calc(100vh - 10%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

